#buildForm {
  clear: both;
  margin-top: 40px;
}

#wordContainer{
  margin-bottom: 20px;
  height:220px;
  border: inset;
  overflow-x: scroll;
  overflow-y: hidden;
}

#btnClearTitle{
  margin-left: 10px;
}

#btnDrawCard{
  margin: 10px;
}

#txtContent {
  height: 250px;
}

.wordCard {
  position: relative;
  border: solid;
  border-color: #299679;
  text-align: center;
  width: 150px;
  float: left;
  height: 180px;
  margin: 10px 5px;
  border-radius: 10px;
}

.wordCardButtons{
  position:absolute;
  bottom: 10px;
  left: 10px;
}