<template name='home'>
  <h2> This be the hompepage folks!!!!!! </h2>
  <p>Start by looking at 'view', and clicking around, then click on 'build' and try to make one of these stupid things. Seems to work on mobile devices. And you can open the app in two devices, submit an entry on one and see it instantly update on the other :)</p>
  <p>This is the minimum viable product, with only the core features necessary for it to actually do something that a user can experience.</p>
  <p>To come in the future: graphics, security, users, points system, voting system, leveling system, chatrooms, etc</p>
  <p>Comments welcome</p>
</template>